$primary-normal: #000000;
$primary-dark: #150018;
$primary-light: #b903d1;

$secondary-normal: #ff00bf;
$secondary-dark: #1b001f;
$secondary-light: #1b061e;

$black-normal: #1b061e;
$black-dark: #421d47;
$black-light: #1b061e;

$white-normal: #ffffff;
$white-dark:#d4d4d4;
$white-light:#575757;

$pink-normal: rgb(248, 108, 190);
$pink-dark:rgb(235, 30, 150);
$pink-light: rgb(243, 187, 211);
